<%- include('template/head'); -%>
<body onload="obtenerProductos()"></body>
<div
                    class="justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 ALIGN="CENTER">PRODUCTOS</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        
                    </div>
                </div>
                <table id="tablaProducto"  class="table table-hover" bgcolor="0A1375">
                </table>
    <%- include('template/foot'); -%></div>
    <script src="js/interacciones_package/administrarProductos.js"></script>
        </div>
        </body>

        </html>