<%- include('template/head'); -%>
<h1 ALIGN="CENTER" style="color: #ffe600;">BIENVENID@, ELIGE LA OPCIÓN QUE DESEAS</h1>
<div ALIGN="CENTER">
<img width="800px" height="550px" src="/img/usuario.jpg"></div>
    <%- include('template/foot'); -%></div></div>
    

        </body>

        </html>