<link href="css/registro.css" rel="stylesheet" id="bootstrap-css">
<%- include('../template/head'); -%>
    <br><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="width: 300px;"><input type="submit" onclick=" location.href='/' " name="login"
                value="Regresar" id="inBtnRst" style="color:rgb(0, 0, 0);"></div>
    </nav>
    <br>
    <form method="POST" id="registroComunForm">
        <center>
            <br><br><br><br><br>
            <div id="circle">
                <h1 id="blinking" style="color: #ffffff;">REGISTRARME</h1>
                <div id="box">
                    <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario" class="input"><br>
                    <p></p>
                    <input type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion" class="input"><br>
                    <p></p>
                    <input type="password" name="pwd" placeholder="Ingrese su contraseña" id="pwd" class="input">
                    <p></p><p></p>
                    <input type="submit" name="registro" value="Registrarme" id="inBtn" style="color:white;">
                </div>
            </div>
        </center>
    </form>
    <%- include('../template/foot'); -%>
    <script src="js/interacciones_usuario/registroComun.js"></script>
</body>

</html>