<script src="/js/decoracion/jquery.js" type="text/javascript"></script>
<!DOCTYPE html>
<html>

<head>
    <title>E-COMMERCE GT</title>
    <script src="/js/decoracion/start.js" type="text/javascript"></script>
    <script src="/js/decoracion/sweetAlert.js"></script>
</head>

<body background="img/fondo.jpg" style="background-repeat:no-repeat;background-size:cover;">
    
    