<link href="css/start.css" rel="stylesheet" id="bootstrap-css">
<%- include('template/head'); -%><br>
    <h1 align="center" style="color:#ffffff;">E-COMMERCE GT</h1>
    <br>
    <form method="POST" id="loginForm">
        <center>
            <br><br><br><br><br>
            <div id="circle">
                <h1 id="blinking" style="color: #ffffff;">INICIAR SESIÓN</h1>
                <div id="box">
                    <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario" class="input"><br>
                    <p></p>
                    <input type="password" name="pwd" placeholder="Ingrese su contraseña" id="pwd" class="input">
                    <p></p>
                    <input type="submit" name="login" value="Ingresar" id="inBtn" style="color:white;">
                    <p></p>
                </div>
            </div>
        </center>
    </form>
    <center>
        <div style="width: 300px;"><input type="submit" onclick=" location.href='/registro' " name="login"
                value="Registrarme" id="inBtnRst" style="color:rgb(0, 0, 0);"></div>
    </center>
    <%- include('template/foot'); -%>
        <script src="js/interacciones_usuario/login.js"></script>
        </body>
        </html>