<link href="css/start.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/decoracion/jquery.js" type="text/javascript"></script>
<!DOCTYPE html>
<html>

<head>
    <title>E-COMMERCE GT</title>
    <script src="/js/decoracion/start.js" type="text/javascript"></script>
    <script src="/js/decoracion/sweetAlert.js"></script>
</head>

<body background="img/fondoLogin.png" style="background-repeat:no-repeat;background-size:cover;">
    <br>
    <h1 align="center" style="color:#3cff46;">E-COMMERCE GT</h1>
    <br>
    <form method="POST" id="loginForm">
        <center>
            <br><br><br><br><br>
            <div id="circle">
                <h1 id="blinking" style="color: #000000;">INICIAR SESIÓN</h1>
                <div id="box">
                    <input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario" class="input"><br>
                    <input type="password" name="pwd" placeholder="Ingrese su contraseña" id="pwd" class="input">
                    <hr>
                    <input type="submit" name="login" value="Ingresar" id="inBtn" style="color:white;">
                </div>
            </div>
        </center>
    </form>
    <br><br><br><br>
    <footer>
        <p id="copy" style="background-color: rgb(32, 109, 1);color: #ffffff;">Mariano Francisco Camposeco Camposeco
            202030987 ©</p>
    </footer>
    <script src="js/interacciones_usuario/login.js"></script>
</body>

</html>